{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint"
	],
	"rules": {
		"semi":"off",//Отключаем стандартные ;
		"@typescript-eslint/semi": [
			"warn"
		],
		"@typescript-eslint/no-empty-interface": [//ошибка для пустых интерфейсов которые не extends
			"error",
		{
           "allowSingleExtends": true
		}
	]
	},
	"extends":[
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	]
}